openapi: 3.2.0
info:
  title: ACMA Spectrum Licensing Licence categories API
  version: '1.0'
  summary: Public, anonymous read access to the Australian Communications and Media Authority's Register of Radiocommunications Licences.
  description: 'The ACMA Spectrum Licensing API is an application programming interface which allows members of the public to query the ACMA''s spectrum licensing data. This data can be queried programmatically so that it can be used by external application developers to produce mobile or web applications.


    The service exposes both a REST endpoint (browser-consumable, XML or JSON per operation suffix) and a SOAP endpoint over the same operations. Every operation is a read; there are no writes, no authentication, no API key and no registration. A single query returns at most 2,000 records, deliberately, to discourage bulk extraction through the API - the full dataset is published as a daily zip download instead.


    PROVENANCE: this OpenAPI is an API Evangelist reconstruction of an API that ACMA documents but does not describe in OpenAPI. Paths, parameters, enumerated values and operation semantics are taken verbatim from ACMA''s published guide ''Spectrum Licensing API'' v1.0 (17/06/2016) and from the live WSDL at OuterService.svc?wsdl; response schemas are derived from live responses captured on 2026-07-25. Every operation carries an x-evidence block naming the documentation source and the live URL that was probed.'
  contact:
    name: ACMA
    email: info@acma.gov.au
    url: https://www.acma.gov.au/contact-us
  license:
    name: Licence to use the Register of Radiocommunications Licences
    url: https://www.acma.gov.au/radiocomms-licence-data#terms-and-conditions
  termsOfService: https://www.acma.gov.au/radiocomms-licence-data#terms-and-conditions
  x-source: https://www.acma.gov.au/sites/default/files/2019-11/Spectrum%20licensing%20API.docx
  x-wsdl: https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc?wsdl
  x-generated-by: API Evangelist enrichment pipeline
  x-generated-on: '2026-07-25'
servers:
- url: https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc
  description: Production REST endpoint (HTTPS). The guide publishes the same path over HTTP; HTTPS is live and verified.
security: []
tags:
- name: Licence categories
  description: Licence types and the categories beneath them.
paths:
  /CategoryListXML:
    get:
      operationId: spectrumLicencesCategoryListXML
      summary: List licence categories (XML)
      description: 'Returns an XML element containing all the licence categories for the specified licence type.


        A single query returns at most 2,000 records; page with the offset parameter to retrieve more. For the whole dataset, ACMA publishes a same-day full RRL extract as a zip download rather than serving it through this API.'
      tags:
      - Licence categories
      parameters:
      - name: licenceType
        in: query
        required: false
        description: The type of licence, e.g. Spectrum.
        schema:
          type: string
      - $ref: '#/components/parameters/strOffset'
      - $ref: '#/components/parameters/strLimit'
      responses:
        '200':
          description: Matching records. The service returns HTTP 200 with an empty result array when nothing matches.
          content:
            application/xml:
              schema:
                type: string
                description: An XElement document. The element structure mirrors the JSON envelope of the matching *JSON operation; the XML Schema for the SOAP projection of this service is published at https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc?xsd=xsd0 and harvested to wsdl/acma-spectrum-licensing-xsd0.xsd.
        '400':
          description: Malformed request - an unparseable URI template, or a parameter value the WCF service cannot bind (for example a non-numeric offset).
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Unknown web method - the leading path segment does not match a published operation name.
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Service fault. The WCF endpoint returns an HTML fault page rather than a structured error body; there is no RFC 9457 problem+json envelope.
          content:
            text/html:
              schema:
                type: string
      x-evidence:
        documented_in: https://www.acma.gov.au/sites/default/files/2019-11/Spectrum%20licensing%20API.docx
        verified_live: https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc/CategoryListXML
        verified_on: '2026-07-25'
        verified_status: 200
  /CategoryListJSON:
    get:
      operationId: spectrumLicencesCategoryListJSON
      summary: List licence categories (JSON)
      description: 'Returns a JSON string containing all the licence categories for the specified licence type.


        A single query returns at most 2,000 records; page with the offset parameter to retrieve more. For the whole dataset, ACMA publishes a same-day full RRL extract as a zip download rather than serving it through this API.'
      tags:
      - Licence categories
      parameters:
      - name: licenceType
        in: query
        required: false
        description: The type of licence, e.g. Spectrum.
        schema:
          type: string
      - $ref: '#/components/parameters/strOffset'
      - $ref: '#/components/parameters/strLimit'
      - $ref: '#/components/parameters/isJSONP'
      - $ref: '#/components/parameters/jsonpCallback'
      responses:
        '200':
          description: Matching records. The service returns HTTP 200 with an empty result array when nothing matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25 from https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc/CategoryListJSON
                  value:
                    Category:
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 1.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 700 MHz Band
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 2.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 800 MHz Band
                      LIC_COUNT: 2.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 3.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 1800 MHz Band
                      LIC_COUNT: 19.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 4.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 2 GHz Band
                      LIC_COUNT: 6.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 5.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 2.3 GHz Band
                      LIC_COUNT: 11.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 6.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 2.5 GHz Band
                      LIC_COUNT: 6.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 7.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 2.5 GHz Mid Band Gap
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 8.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 3.4 GHz Band
                      LIC_COUNT: 18.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 9.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 20 GHz Defence Band
                      LIC_COUNT: 1.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 10.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 30 GHz Defence Band
                      LIC_COUNT: 1.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 11.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 26 GHz Band
                      LIC_COUNT: 5.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 12.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: 850/900 MHz Band
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 13.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: AWL - FSS Only
                      LIC_COUNT: 104.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 14.0
                      LICENCE_TYPE: Spectrum
                      LICENCE_CATEGORY_NAME: AWL - Standard
                      LIC_COUNT: 202.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 1.0
                      LICENCE_TYPE: Aeronautical
                      LICENCE_CATEGORY_NAME: Aeronautical Assigned System
                      LIC_COUNT: 2612.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 2.0
                      LICENCE_TYPE: Aircraft
                      LICENCE_CATEGORY_NAME: Aircraft Assigned
                      LIC_COUNT: 11.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 3.0
                      LICENCE_TYPE: Amateur
                      LICENCE_CATEGORY_NAME: Advanced
                      LIC_COUNT: 231.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 4.0
                      LICENCE_TYPE: Amateur
                      LICENCE_CATEGORY_NAME: Amateur Beacon
                      LIC_COUNT: 31.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 5.0
                      LICENCE_TYPE: Amateur
                      LICENCE_CATEGORY_NAME: Amateur Repeater
                      LIC_COUNT: 512.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 6.0
                      LICENCE_TYPE: Amateur
                      LICENCE_CATEGORY_NAME: Foundation
                      LIC_COUNT: 39.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 7.0
                      LICENCE_TYPE: Amateur
                      LICENCE_CATEGORY_NAME: Standard
                      LIC_COUNT: 28.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 8.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Cat 3 DRMT
                      LIC_COUNT: 10.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 9.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Commercial Radio Broadcasting
                      LIC_COUNT: 261.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 10.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Commercial Radio Broadcasting (Section 40 - NON-BSB)
                      LIC_COUNT: 14.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 11.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Commercial Television Broadcasting
                      LIC_COUNT: 68.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 12.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Community Broadcasting
                      LIC_COUNT: 820.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 13.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Foundation Cat 1 DRMT
                      LIC_COUNT: 13.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 14.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: International Broadcasting
                      LIC_COUNT: 11.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 15.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: National Broadcasting
                      LIC_COUNT: 1487.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 16.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Subscription Television Broadcasting
                      LIC_COUNT: 2756.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 17.0
                      LICENCE_TYPE: Broadcast Service Licence
                      LICENCE_CATEGORY_NAME: Temporary Community Broadcasting
                      LIC_COUNT: 190.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 18.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Cat 3 DRMT
                      LIC_COUNT: 10.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 19.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Commercial Radio
                      LIC_COUNT: 649.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 20.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Commercial Television
                      LIC_COUNT: 1023.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 21.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Community Broadcasting
                      LIC_COUNT: 820.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 22.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Foundation Cat 1 DRMT
                      LIC_COUNT: 13.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 23.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: HF Domestic Service
                      LIC_COUNT: 25.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 24.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: HF Overseas (IBL) Service
                      LIC_COUNT: 10.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 25.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Narrowband Area Service station(s)
                      LIC_COUNT: 179.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 26.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Narrowcasting Service (Fixed Tax)
                      LIC_COUNT: 232.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 27.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Narrowcasting Service (LPON)
                      LIC_COUNT: 2326.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 28.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Narrowcasting Service Station(s)
                      LIC_COUNT: 14.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 29.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: National Broadcasting
                      LIC_COUNT: 1487.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 30.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Retransmission
                      LIC_COUNT: 1758.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 31.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Retransmission (Out of Area)
                      LIC_COUNT: 32.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 32.0
                      LICENCE_TYPE: Broadcasting
                      LICENCE_CATEGORY_NAME: Temporary Community Broadcasting
                      LIC_COUNT: 190.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 33.0
                      LICENCE_TYPE: Datacasting
                      LICENCE_CATEGORY_NAME: Datacasting
                      LIC_COUNT: 92.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 34.0
                      LICENCE_TYPE: Datacasting Service Licence
                      LICENCE_CATEGORY_NAME: Datacasting
                      LIC_COUNT: 92.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 35.0
                      LICENCE_TYPE: Defence
                      LICENCE_CATEGORY_NAME: Defence
                      LIC_COUNT: 83.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 36.0
                      LICENCE_TYPE: Defence Receive
                      LICENCE_CATEGORY_NAME: Defence Receive
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 37.0
                      LICENCE_TYPE: Earth
                      LICENCE_CATEGORY_NAME: Fixed Earth
                      LIC_COUNT: 931.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 38.0
                      LICENCE_TYPE: Earth
                      LICENCE_CATEGORY_NAME: Mobile Earth
                      LIC_COUNT: 10.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 39.0
                      LICENCE_TYPE: Earth Receive
                      LICENCE_CATEGORY_NAME: Earth Receive
                      LIC_COUNT: 1229.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 40.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Multipoint
                      LIC_COUNT: 5313.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 41.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Multipoint - Land Mobile Spec
                      LIC_COUNT: 1132.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 42.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Multipoint System
                      LIC_COUNT: 9.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 43.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Point
                      LIC_COUNT: 43833.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 44.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Point (5.8GHz) Band
                      LIC_COUNT: 228.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 45.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Point (900MHz STL)
                      LIC_COUNT: 449.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 46.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Point to Point (Self Coordinated)
                      LIC_COUNT: 1049.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 47.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Sound Outside Broadcast
                      LIC_COUNT: 24.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 48.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Television Outside Broadcast
                      LIC_COUNT: 21.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 49.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Television Outside Broadcast Network
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 50.0
                      LICENCE_TYPE: Fixed
                      LICENCE_CATEGORY_NAME: Television Outside Broadcast System
                      LIC_COUNT: 1.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 51.0
                      LICENCE_TYPE: Fixed Receive
                      LICENCE_CATEGORY_NAME: Fixed Receive
                      LIC_COUNT: 925.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 52.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Ambulatory - Copy
                      LIC_COUNT: 177.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 53.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Ambulatory - Initial
                      LIC_COUNT: 1064.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 54.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Ambulatory System
                      LIC_COUNT: 12366.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 55.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: CBRS Repeater
                      LIC_COUNT: 1018.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 56.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Land Mobile System - > 30MHz
                      LIC_COUNT: 60563.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 57.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Land Mobile System 0-30MHz
                      LIC_COUNT: 3613.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 58.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Paging System - Exterior
                      LIC_COUNT: 1473.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 59.0
                      LICENCE_TYPE: Land Mobile
                      LICENCE_CATEGORY_NAME: Paging System - Interior
                      LIC_COUNT: 430.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 60.0
                      LICENCE_TYPE: Maritime Coast
                      LICENCE_CATEGORY_NAME: Limited Coast Assigned System
                      LIC_COUNT: 1936.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 61.0
                      LICENCE_TYPE: Maritime Coast
                      LICENCE_CATEGORY_NAME: Limited Coast Marine Rescue
                      LIC_COUNT: 459.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 62.0
                      LICENCE_TYPE: Maritime Coast
                      LICENCE_CATEGORY_NAME: Limited Coast Non Assigned
                      LIC_COUNT: 983.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 63.0
                      LICENCE_TYPE: Maritime Coast
                      LICENCE_CATEGORY_NAME: Major Coast A
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 64.0
                      LICENCE_TYPE: Maritime Ship
                      LICENCE_CATEGORY_NAME: Ship Station Class B Assigned
                      LIC_COUNT: 19.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 65.0
                      LICENCE_TYPE: Maritime Ship
                      LICENCE_CATEGORY_NAME: Ship Station Class B Non Assigned
                      LIC_COUNT: 3277.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 66.0
                      LICENCE_TYPE: Maritime Ship
                      LICENCE_CATEGORY_NAME: Ship Station Class C Assigned
                      LIC_COUNT: 6.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 67.0
                      LICENCE_TYPE: Maritime Ship
                      LICENCE_CATEGORY_NAME: Ship Station Class C Non Assigned
                      LIC_COUNT: 654.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 68.0
                      LICENCE_TYPE: Outpost
                      LICENCE_CATEGORY_NAME: Outpost Assigned
                      LIC_COUNT: 10.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 69.0
                      LICENCE_TYPE: Outpost
                      LICENCE_CATEGORY_NAME: Outpost Non Assigned
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 70.0
                      LICENCE_TYPE: PTS
                      LICENCE_CATEGORY_NAME: PMTS Class B
                      LIC_COUNT: 957.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 71.0
                      LICENCE_TYPE: PTS
                      LICENCE_CATEGORY_NAME: PMTS Class B (870-890 MHz)
                      LIC_COUNT: 13.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 72.0
                      LICENCE_TYPE: Radiodetermination
                      LICENCE_CATEGORY_NAME: Radiodetermination
                      LIC_COUNT: 3590.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 73.0
                      LICENCE_TYPE: Radiodetermination
                      LICENCE_CATEGORY_NAME: Radiodetermination - RNSS Repeater
                      LIC_COUNT: 4.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 74.0
                      LICENCE_TYPE: Scientific
                      LICENCE_CATEGORY_NAME: Scientific Assigned
                      LIC_COUNT: 34.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 75.0
                      LICENCE_TYPE: Scientific
                      LICENCE_CATEGORY_NAME: Scientific Non Assigned
                      LIC_COUNT: 9.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 76.0
                      LICENCE_TYPE: Space
                      LICENCE_CATEGORY_NAME: Space
                      LIC_COUNT: 107.0
                    - TOTAL_RESULT: 91.0
                      RESULTS_INDEX: 77.0
                      LICENCE_TYPE: Space Receive
                      LICENCE_CATEGORY_NAME: Space Receive
                      LIC_COUNT: 93.0
        '400':
          description: Malformed request - an unparseable URI template, or a parameter value the WCF service cannot bind (for example a non-numeric offset).
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Unknown web method - the leading path segment does not match a published operation name.
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Service fault. The WCF endpoint returns an HTML fault page rather than a structured error body; there is no RFC 9457 problem+json envelope.
          content:
            text/html:
              schema:
                type: string
      x-evidence:
        documented_in: https://www.acma.gov.au/sites/default/files/2019-11/Spectrum%20licensing%20API.docx
        verified_live: https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc/CategoryListJSON
        verified_on: '2026-07-25'
        verified_status: 200
  /LicenceListXML/{licenceCategory}:
    get:
      operationId: spectrumLicenceListXML
      summary: List licences in a category (XML)
      description: 'Returns an XElement containing all the licence details for a given category and licence type.


        A single query returns at most 2,000 records; page with the offset parameter to retrieve more. For the whole dataset, ACMA publishes a same-day full RRL extract as a zip download rather than serving it through this API.'
      tags:
      - Licence categories
      parameters:
      - name: licenceCategory
        in: path
        required: true
        description: The licence category, e.g. 800 MHz Band.
        schema:
          type: string
      - name: licenceType
        in: query
        required: false
        description: The type of licence, e.g. Spectrum.
        schema:
          type: string
      - $ref: '#/components/parameters/strOffset'
      - $ref: '#/components/parameters/strLimit'
      responses:
        '200':
          description: Matching records. The service returns HTTP 200 with an empty result array when nothing matches.
          content:
            application/xml:
              schema:
                type: string
                description: An XElement document. The element structure mirrors the JSON envelope of the matching *JSON operation; the XML Schema for the SOAP projection of this service is published at https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc?xsd=xsd0 and harvested to wsdl/acma-spectrum-licensing-xsd0.xsd.
        '400':
          description: Malformed request - an unparseable URI template, or a parameter value the WCF service cannot bind (for example a non-numeric offset).
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Unknown web method - the leading path segment does not match a published operation name.
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Service fault. The WCF endpoint returns an HTML fault page rather than a structured error body; there is no RFC 9457 problem+json envelope.
          content:
            text/html:
              schema:
                type: string
      x-evidence:
        documented_in: https://www.acma.gov.au/sites/default/files/2019-11/Spectrum%20licensing%20API.docx
        verified_live: https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc/LicenceListXML/800 MHz Band
        verified_on: '2026-07-25'
        verified_status: 200
  /LicenceListJSON/{licenceCategory}:
    get:
      operationId: spectrumLicenceListJSON
      summary: List licences in a category (JSON)
      description: 'Returns a JSON string containing all the licence details for a given category and licence type.


        A single query returns at most 2,000 records; page with the offset parameter to retrieve more. For the whole dataset, ACMA publishes a same-day full RRL extract as a zip download rather than serving it through this API.'
      tags:
      - Licence categories
      parameters:
      - name: licenceCategory
        in: path
        required: true
        description: The licence category, e.g. 800 MHz Band.
        schema:
          type: string
      - name: licenceType
        in: query
        required: false
        description: The type of licence, e.g. Spectrum.
        schema:
          type: string
      - $ref: '#/components/parameters/strOffset'
      - $ref: '#/components/parameters/strLimit'
      - $ref: '#/components/parameters/isJSONP'
      - $ref: '#/components/parameters/jsonpCallback'
      responses:
        '200':
          description: Matching records. The service returns HTTP 200 with an empty result array when nothing matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenceListResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25 from https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc/LicenceListJSON/800 MHz Band
                  value:
                    Category:
                    - SORT_LICENCE_NO: 00000000000009263429
                      LICENCE_NO: '9263429'
                      CLIENT_NO: 1136980.0
                      SHIP_NAME: null
                    - SORT_LICENCE_NO: 00000000000009263433
                      LICENCE_NO: '9263433'
                      CLIENT_NO: 20053843.0
                      SHIP_NAME: null
        '400':
          description: Malformed request - an unparseable URI template, or a parameter value the WCF service cannot bind (for example a non-numeric offset).
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Unknown web method - the leading path segment does not match a published operation name.
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Service fault. The WCF endpoint returns an HTML fault page rather than a structured error body; there is no RFC 9457 problem+json envelope.
          content:
            text/html:
              schema:
                type: string
      x-evidence:
        documented_in: https://www.acma.gov.au/sites/default/files/2019-11/Spectrum%20licensing%20API.docx
        verified_live: https://api.acma.gov.au/SpectrumLicensingAPIOuterService/OuterService.svc/LicenceListJSON/800 MHz Band
        verified_on: '2026-07-25'
        verified_status: 200
components:
  schemas:
    CategoryListResponse:
      type: object
      title: CategoryListResponse
      description: Licence categories for the requested licence type.
      properties:
        Category:
          type: array
          items:
            $ref: '#/components/schemas/LicenceCategory'
    CategoryLicence:
      type: object
      title: CategoryLicence
      description: A licence listed under a licence category.
      properties:
        SORT_LICENCE_NO:
          type:
          - string
          - 'null'
        LICENCE_NO:
          type:
          - string
          - 'null'
        CLIENT_NO:
          type:
          - number
          - 'null'
        SHIP_NAME:
          type:
          - string
          - 'null'
    LicenceCategory:
      type: object
      title: LicenceCategory
      description: A licence category and the count of licences it holds.
      properties:
        TOTAL_RESULT:
          type:
          - number
          - 'null'
        RESULTS_INDEX:
          type:
          - number
          - 'null'
        LICENCE_TYPE:
          type:
          - string
          - 'null'
        LICENCE_CATEGORY_NAME:
          type:
          - string
          - 'null'
        LIC_COUNT:
          type:
          - number
          - 'null'
    LicenceListResponse:
      type: object
      title: LicenceListResponse
      description: Licences within the requested licence category.
      properties:
        Category:
          type: array
          items:
            $ref: '#/components/schemas/CategoryLicence'
  parameters:
    isJSONP:
      name: isJSONP
      in: query
      required: false
      description: true or false, depending on whether JSONP is used.
      schema:
        type: boolean
    jsonpCallback:
      name: jsonpCallback
      in: query
      required: false
      description: The callback function name to wrap the response in for JSONP.
      schema:
        type: string
    strOffset:
      name: strOffset
      in: query
      required: false
      description: The number of records to skip over.
      schema:
        type: integer
        minimum: 0
    strLimit:
      name: strLimit
      in: query
      required: false
      description: The number of records to return after the offset. The service caps any single query at 2,000 records.
      schema:
        type: integer
        minimum: 1
        maximum: 2000
externalDocs:
  description: ACMA Spectrum Licensing API guide (DOCX, v1.0, 17/06/2016)
  url: https://www.acma.gov.au/sites/default/files/2019-11/Spectrum%20licensing%20API.docx
